<div class="aboutcards">
  <div>
    <%= cl_image_tag("What-is-a-Sports-Massage_w9x5rw", class: "cardbody") %>
    <button class="btn btn-dark">Book Now</button>
  </div>
  <div>
    <h1>This is the main title</h1>
    <p>The quick version:</p>
    <p>Treatment type: [Injectable]</p>
    <p>Results: [How long it lasts]</p>
    <p>Treatment time: [how long it takes]</p>
    <p>Pain Level: [you'll only feel a prick]</p>
  </div>
</div>
<div class="container">
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <button class="btn btn-dark">Book Now</button>
</div>
<div class="aboutcardinner">
  <h3>FAQ</h3>
  <p>question</p>
  <p>question</p>
  <p>question</p>
  <p>question</p>
</div>
