<div class="mainfooter">
  <div>
    <button class="btn btn-dark">Book Now</button>
    <div class="d-flex pt-2">
      <h3 class="pe-3">T: 123456789</h3>
      <h3>E:ABC@Abc.com</h3>
    </div>
    <div>
      <a href=""><i class="fa-3x fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-3x fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-3x fa-brands fa-linkedin"></i></a>
    </div>

  </div>
</div>
