<%=cl_image_tag("What-is-a-Sports-Massage_w9x5rw", class: "mainbanner")  %>
<div class="container pt-3">
  <h1 class="text-center">Welcome to Chapter2aesthitics</h1>

  <div>
      <p>Lorem ipsum dolor sit amet, tempor noster sadipscing in nam. Et quo partem reprehendunt. Te noluisse patrioque cum, pri ad oratio alterum. Duis debet vix eu. Vel quem neglegentur ut, ridens antiopam dissentias id nec.

      Elitr maluisset liberavisse quo ne, ex est justo sensibus incorrupte. Quo quas moderatius in, nemore periculis scriptorem id cum. Sit eu solum efficiantur, ut est bonorum intellegebat. Ridens expetendis ea vix. Congue aperiam verterem ad sed, simul hendrerit honestatis vix eu.

      Persius maiorum ne nec. Duo cu solet dolores mnesarchum, qui id vidisse habemus. Graecis atomorum at eos, id est tollit mnesarchum. Id mel tantas vivendo. Possim persecuti ne vim.

      Velit laoreet sapientem et eum, ei qui homero omnium nusquam. In euismod disputando mel. Modus persecuti ei ius, nec no malorum sententiae. Soleat putent feugait ei vel. Verear philosophia ex has. Est labore iriure eu, nec dolore facilis ei, eam noster deleniti ne. Convenire conceptam te pri, his facete oportere liberavisse et, an per civibus postulant.

      Et mel vidit dolores, feugait vivendum eos ne. Usu clita dictas et, quo illum virtute insolens eu, facete nonumes temporibus ut est. Cu eam eligendi praesent, nonumes civibus ne cum, sea eu dolor comprehensam. Eu qui posse movet, natum iisque alienum te duo.</p>
  </div>

  <div class="text-center">
    <button class="btn btn-dark">Book Now</button>
  </div>

</div>

<div class="d-flex justify-content-center pt-4">
  <div class="maincards">
    <div class="maincard">
      <%= cl_image_tag("What-is-a-Sports-Massage_w9x5rw", class: "cardbody") %>
      <div class="card-body">
        <h5 class="card-title text-center">What is a Sports Massage?</h5>
        <p class="card-text">Sports massage is a form of massage involving the manipulation of soft tissue to benefit a person engaged in regular physical activity. Soft tissue is connective tissue that has not hardened into bone and cartilage; it includes skin, muscles, tendons, ligaments and fascia (a form of connective tissue that lines and ensheathes the other soft tissues).</p>
      </div>
    </div>

    <div class="maincard">
      <%= cl_image_tag("What-is-a-Sports-Massage_w9x5rw", class: "cardbody") %>
      <div class="card-body">
        <h5 class="card-title text-center">What is a Sports Massage?</h5>
        <p class="card-text">Sports massage is a form of massage involving the manipulation of soft tissue to benefit a person engaged in regular physical activity. Soft tissue is connective tissue that has not hardened into bone and cartilage; it includes skin, muscles, tendons, ligaments and fascia (a form of connective tissue that lines and ensheathes the other soft tissues).</p>
      </div>
    </div>

    <div class="maincard">
      <%= cl_image_tag("What-is-a-Sports-Massage_w9x5rw", class: "cardbody") %>
      <div class="card-body">
        <h5 class="card-title text-center">What is a Sports Massage?</h5>
        <p class="card-text">Sports massage is a form of massage involving the manipulation of soft tissue to benefit a person engaged in regular physical activity. Soft tissue is connective tissue that has not hardened into bone and cartilage; it includes skin, muscles, tendons, ligaments and fascia (a form of connective tissue that lines and ensheathes the other soft tissues).</p>
      </div>
    </div>
  </div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1 class="d-flex justify-content-center text-align-center">HelloWorld</h1>
